@import "_colours";
@import "_mixins";
@import "_font";

#container {
  background-color: $theme-background;
  padding: 50px;
}

i {
  margin-right: 10px;
}

.hide-content {
  display: none;
}

.hide {
  display: none !important;
}
