@import "_colours";
@import "_mixins";
@import "_font";


.drawer-container {
  z-index: 20;
  display: flex;
  position: fixed;
  background-color: white;
  width: 90%;
  height: 100vh !important;
  top: 0px;
  left: 0px;
  background-color: $theme-secondary-darken;
  text-align: center !important;
  p {
    color: white;
  }
}

.drawer-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px !important;
  background-color: $theme-secondary-light;

  h3 {
    color: white;
  }
}

.drawer-content-container {
  height: 100% !important;
  width: 100%;
}
