@import "_colours";
@import "_mixins";
@import "_font";

$padding: 20px;


/***********************************
********* DEFAULT SETTINGS *********
***********************************/
// nav settings
.nav-bar-outside>li:nth-child(2){
  div {
    background-color: $theme-accent;
  }
}

.nav-bar-nav>li:nth-child(2) {
  div {
    background-color: $theme-accent;
  }
}

li a {
  text-align: center;
}



#container {

  .item-list-title {
    display: flex;
    flex-direction: row;
    padding: 0px;
    i {
      margin-right: 1em;
    }
  }

  section#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;

    h3>i, h3 {
      @include text-gradient($theme-secondary, $theme-secondary-darken);
    }

    ul {
      padding: 0px;
    }

    #title-container {
      text-align: center;
      margin: 50px 0px;
    }

    #cover-letter-container {
      li>ul {
        li:nth-child(2) {
          flex-grow: 1;
        }
      }
    }

    ul[id$=container]{
      margin-bottom: 50px !important;
      min-width: 300px !important;
      width: 100% !important;
      max-width: 500px !important;
    }

  }

  footer {
    background-color: $theme-footer;
    text-align: center;
    padding: 20px;
    p {
      @include text-gradient($theme-primary, $theme-primary-darken);
    }
  }
}


/********************************
*********** Responsive **********/
@media (min-width: 1920px){
  #container {
    display: grid;
    grid-template-columns: 500px auto !important;
    grid-template-areas:
      "nav body"
      "footer footer"
  }

  #body-container {
    grid-area: body;
  }

  #nav-bar-nav {
    display: none !important;
  }
}
