@import "_colours";
@import "_mixins";
@import "_font";

$padding: 20px;


.nav-container {
  background: $theme-primary-gradient;
  color: white;
  display: flex;
  justify-content: center;
  // logo section
  ul:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .nav-bar-nav {
    justify-content: flex-end;
  }
}

.nav-bar-nav, #nav-outside {
  display: flex;
  justify-content: center !important;
  margin-top: 20px !important;
  div:hover {
    background: $theme-accent;
  }
  li {
    align-self: center;
  }
  div {
    margin: 0px 10px;
    background: $theme-disabled;
    border-radius: 50%;

    i {
      padding: 20px;
      margin-right: 0px !important;
      color: white;
    }
  }
}

.slogan {
  display: none !important;
  text-align: center;
}


.nav-bar-container {
  padding: $padding;
  display: grid;
  grid-template-columns: 1fr;

  ul {
    display: flex;
    flex-direction: row;
  }

  .nav-bar-logo {
    flex: display;
    align-self: center;
    padding-bottom: 0px !important;
  }
}

#nav-outside {
  display: none;
}

/********************************
*********** Responsive **********
********************************/
@media (min-width: 788px){
  .nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    width: 100%;
  }
  .nav-bar-logo {
    padding-bottom: 20px;

  }
  .slogan {
    display: flex !important;
    padding-right: 20px !important;
    margin-right: 20px !important;
    padding-left: 20px;
  }
  .nav-bar-nav {
      margin-top: 0px !important;
  }

}

@media (min-width: 1920px){
  #nav-outside {
    display: flex !important;
    width: 100%;
    max-width: 1200px !important;
    justify-content: flex-end;
    #nav-bar-outside {
      display: flex;
      flex-direction: row;
    }
  }
}
