@import "_colours";
@import "_mixins";
@import "_font";

#register-form-container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
  .form-control {
    width: 290px;
    margin-top: 5px;
    padding-top: 0px;
  }
  .feedback {
    margin: 10px;
  }

  .invalid-feedback {
    color: $theme-error;
  }
}
